.Clock-name {
  margin-top: 0;
  margin-bottom: 0;

  text-align: center;

  overflow-wrap: anywhere;
}

.Clock {
  width: 100%;
  height: 150px;
}

.Clock-box {
  position: relative;

  width: 120px;
}

.Clock-face__circle {
  fill: none;
  stroke: #000000;
  stroke-width: 9;
}

.Clock-face__hour-marks {
  fill: none;
  stroke: #000000;
  stroke-width: 9;
}

.Clock-face__mid-circle {
  fill: #0c0909;
}

.Clock-hour__hour-arm {
  fill: none;
  stroke: #000000;
  stroke-width: 17;
}

.Clock-minute__minute-arm {
  fill: none;
  stroke: #000000;
  stroke-width: 11;
}

.Clock-second__second-arm {
  fill: none;
  stroke: #000000;
  stroke-width: 4;
}

.Clock-sizing-box {
  fill: none;
}

.Clock-hour,
.Clock-minute,
.Clock-second {
  transform-origin: 300px 300px;
}

.Clock__delete {
  position: absolute;
  top: 30px;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 30px;
  height: 30px;

  font-weight: 700;
  font-size: 15px;

  color: #000000;
  border: 1px solid #000000;
  border-radius: 50%;
  text-decoration: none;

  user-select: none;
}
